config-files/arch/nvim/plugged
geany/.config/geany/session.conf
geany/.config/geany/tags/
emacs/.config/emacs/eln-cache/
emacs/.config/emacs/transient/
emacs/.config/emacs/ido.last
emacs/.config/emacs/smex-items
emacs/.config/emacs/elpa/
