/*Colorschemes, there are Gruvbox, Tokyo Night, and Everforest by default. The way it works is whichever colorscheme section is defined last will be used. Here everforest is last, but put any one you want to use as the last one.*/



/* Tokyo Night */
/*
@define-color background #291D4F;
@define-color background-light #24283b;
@define-color foreground #c0caf5;
@define-color black #15161e;
@define-color red #f7768e;
@define-color green #9ece6a;
@define-color yellow #e0af68;
@define-color blue #7aa2f7;
@define-color magenta #bb9af7;
@define-color cyan #7dcfff;
@define-color white #a9b1d6;
@define-color orange #ff9e64;
*/


/* Everforest Dark Colors
@define-color background #2b3339;
@define-color background-light #323c41;
@define-color foreground #d3c6aa;
@define-color black #3c474d;
@define-color red #e67e80;
@define-color green #a7c080;
@define-color yellow #dbbc7f;
@define-color blue #7fbbb3;
@define-color magenta #d699b6;
@define-color cyan #83c092;
@define-color white #d3c6aa;
@define-color orange #e69875;
*/

/* Pastel TTY Colors 
@define-color background #212121;
@define-color background-light #3a3a3a;
@define-color foreground #e0e0e0;
@define-color black #5a5a5a;
@define-color red #ff9a9e;
@define-color green #b5e8a9;
@define-color yellow #ffe6a7;
@define-color blue #63a4ff;
@define-color magenta #dda0dd;
@define-color cyan #a3e8e8;
@define-color white #ffffff;
@define-color orange #ff8952;
*/


/* Palenight Color Palette */
@define-color background #292D3E;
@define-color background-light #3c3836;
@define-color foreground #eeffff;
@define-color black #676E95;
@define-color red #f07178;
@define-color green #c3e88d;
@define-color yellow #ffcb6b;
@define-color blue #82aaff;
@define-color magenta #c792ef;
@define-color cyan #89ddff;
@define-color white #eeffff;
@define-color orange #f78c6c;

/* Gruvbox Dark Colors */
/*
 @define-color background #282828;
 @define-color background-light #3c3836;
 @define-color foreground #ebdbb2;
 @define-color black #32302f;
 @define-color red #cc241d;
 @define-color green #98971a;
 @define-color yellow #d79921;
 @define-color blue #458588;
 @define-color magenta #b16286;
 @define-color cyan #689d6a;
 @define-color white #ebdbb2;
 @define-color orange #d65d0e;
*/



/* Module-specific colors */
@define-color workspaces-color @foreground;
@define-color workspaces-focused-bg @green;
@define-color workspaces-focused-fg @cyan;
@define-color workspaces-urgent-bg @red;
@define-color workspaces-urgent-fg @black;

/* Text and border colors for modules */
@define-color mode-color @orange;
@define-color mpd-color @magenta;
@define-color weather-color @magenta;
@define-color playerctl-color @orange;
@define-color clock-color @red;
@define-color cpu-color @blue;
@define-color network-color @green;
@define-color memory-color @orange;
@define-color temperature-color @magenta;
@define-color temperature-critical-color @red;
@define-color battery-color @green;
@define-color battery-charging-color @green;
@define-color battery-warning-color @yellow;
@define-color battery-critical-color @red;
@define-color network-color @magenta;
@define-color ip-color @green;
@define-color network-disconnected-color @magenta;
@define-color pulseaudio-color @cyan;
@define-color pulseaudio-muted-color @red;
@define-color backlight-color @magenta;
@define-color disk-color @cyan;
@define-color uptime-color @cyan;
@define-color updates-color @orange;
@define-color quote-color @green;
@define-color idle-inhibitor-color @foreground;
@define-color idle-inhibitor-active-color @red;
@define-color tray-color @background;

* {
    /* Base styling for all modules */
    border: none;
    border-radius: 0;
    font-family: "IosBerkMono Medium";
    font-size: 11px;
    min-height: 0;
}

window#waybar {
    background-color: @background;
    color: @foreground;
}

/* Common module styling with border-bottom */
#mode, #mpd, #custom-weather, #custom-network, #custom-playerctl, #clock, #cpu,
#memory, #temperature, #battery, #network, #pulseaudio,
#backlight, #disk, #custom-uptime, #custom-updates, #custom-quote, #custom-ip
#idle_inhibitor, #tray {
  margin: 0px 0px;
    padding: 0px 10px;
    background-color: transparent;
}

/* Workspaces styling */
#workspaces button {
    padding: 0 10px;
    background-color: transparent;
    color: @workspaces-color;
    margin: 0;
}

#workspaces button:hover {
    background-color:@magenta;
		color:@background;
}

#workspaces button.active {
		background-color: @red;
    color: @white;
    border: 2px solid @yellow;
}

#workspaces button.focused {
		background-color: @blue;
    color: @background;
}

#workspaces button.urgent {
    background-color: @workspaces-urgent-bg;
    color: white;
}

/* Module-specific styling */
#mode {
    background-color: @mode-color;
    color: @background;
}

#mpd {
    background-color: @mpd-color;
    color: @background;
}

#mpd.disconnected,
#mpd.stopped {
    color: @background;
}

#custom-weather {
    background-color: @weather-color;
    color: @background;
}

#custom-playerctl {
    background-color: @playerctl-color;
    color: @background;
}

#custom-network {
    background-color: @network-color;
    color: @background;
}

#custom-playerctl.Playing {
    background-color: @cyan;
    color: @background;
}

#custom-playerctl.Paused {
    background-color: @orange;
    color: @background;
}

#clock {
    background-color: @clock-color;
    color: @background;
}

#cpu {
    background-color: @cpu-color;
    color: @background;
}

#memory {
    background-color: @memory-color;
    color: @background;
}

#temperature {
    background-color: @temperature-color;
    color: @background;
}

#temperature.critical {
    background-color: @temperature-critical-color;
    color: @background;
}

#battery {
    background-color: @battery-color;
    color: @background;
}

#battery.charging, #battery.plugged {
    background-color: @battery-charging-color;
    color: @background;
}

#battery.warning:not(.charging) {
    background-color: @battery-warning-color;
    color: @background;
}

#battery.critical:not(.charging) {
    background-color: @battery-critical-color;
    color: @background;
}

#network {
    background-color: @network-color;
    color: @background;
}


#network.disconnected {
    background-color: @network-disconnected-color;
    color: @background;
}

#pulseaudio {
    background-color: @pulseaudio-color;
    color: @background;
}

#pulseaudio.muted {
    background-color: @pulseaudio-muted-color;
    color: @background;
}

#backlight {
    background-color: @backlight-color;
    color: @background;
}

#disk {
    background-color: @disk-color;
    color: @background;
}

#custom-ip {
  background-color: @ip-color;
  color: @background;
}

#custom-uptime {
    background-color: @uptime-color;
    color: @background;
}

#custom-updates {
    background-color: @updates-color;
    color: @background;
}

#custom-quote {
    background-color: @quote-color;
    color: @background;
}

#idle_inhibitor {
    color: @background;
}

#idle_inhibitor.activated {
    background-color: @idle-inhibitor-active-color;
    color: @background;
}

#tray {
    background-color: @tray-color;
    color: @background;
    padding: 0px 10px;
    margin: 0px 0px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
    color: @background;
}
